@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,500;0,700;1,600&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.preheader {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to bottom, #2f2fc7a4, #2fc2c7c5), url('/images/header_bg.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preheader div {
    border: 2px dotted #fff;
    padding: 50px 150px;
    text-align: center;
    text-transform: uppercase;
}
.preheader h1 span {
    border-bottom: 4px solid #fff;
}
.preheader h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.preheader p {
    font-size: 26px;
}

.navbar {
    height: 68px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
}
.navbar ul {
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/*
.navbar ul li {
    transition: .4s;
}
.navbar ul li:hover {
    transform: scale(1.2);
}
*/
.profil {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    position: relative;
    bottom: 43px;
    border: 4px solid rgb(56, 169, 197);
}

.navbar li a{
    text-decoration: none;
    color: rgb(115, 115, 115);
    font-size: 18px;
    padding: 7px 10px;
    transition: .3s ease-out;
    margin: 0 30px;
    font-weight: 800;
    
}
.navbar li a:hover{
    color: rgb(56, 169, 197);
    border-bottom: 3px solid rgb(56, 169, 197);
}





.container {
    max-width: 800px;
    margin: 0px auto;
}
main {
    height: 100%;
}
.title {
    margin: 30px 0;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
/*/////////////   about_content    ////////////*/
.main .content .about_content {
    margin: 0 auto;
    text-align: center;
    padding: 0 60px;
}
.about_content .title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(56, 169, 197);
    font-weight: bold;
}
.about_content p {
    color: rgb(115, 115, 115);
    text-align: center;
    line-height: 1.7;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 40px;
}

.social_media {
    padding: 20px 20%;
    display: flex;
    justify-content: space-between;
}
.social_media a {
    padding: 10px;
    color: rgb(56, 169, 197);
    border: 1px solid rgb(56, 169, 197);
    transition: all .3s ease-in-out;
}
.social_media a:hover {
    transform: translateY(-15px);   
}
.social_media a:nth-child(1) {
    width: 54px;
    text-align: center;
}



/* //////////////  Portfolio   ////////////////    */


/* ////////       OUR TEAM       /////////  */
.team_title {
    color: rgb(56, 169, 197);
}
.team {
    display: flex;
    justify-content: space-between

}
.team_box {
    border: 1px solid #d5d5d5;
    width: 220px;
    padding: 20px;
    background: #fbfbfb;
    text-align: center;
    color: #353535;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.team_box:hover {
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
}
.user_pic {
    width: 100%;
}
.user_name {
    font-size: 25px;
    margin: 10px;
    font-weight: 700;
}
.user_status {
    font-size: 14px;
    margin: 15px;
}
.user_social a {
    margin: 5px;
    
}
.user_social a i:hover {
    transform: scale(1.5);
}

.user_social a i {
    font-size: 20px;
    margin: 5px;
    padding: 4px;
    color: rgb(56, 169, 197);
    transition:all .3s ease-in-out;
}
hr {
    width: 100px;
    height: 5px;
    background: rgb(56, 169, 197);
}


/* //////////   Notre service //////////////*/ 
.service {
    background-image: linear-gradient(to bottom, #2f2fc7a4, #2fc2c7c5), url('/images/bg-service.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
}
.service_title {
    font-size: 30px;
    color: #fff;
}
.box_service {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.box_service .box {
    text-align: center;
    padding: 20px;
    transition: all .3s ease-in-out;
}
.box_service .box:hover {
    box-shadow: 0px 15px 30px #353535;
    cursor:pointer;
}
.box i {
    font-size: 50px;
    width: 100%;
}
.box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 9px 0;
}


/*   ///////////////   CONTACT  ///////////////*/
.form-group {
    margin-bottom: 26px;
}

.form-control {
    width: 100% !important;
    height: 49px;
    padding-left: 15px;
    outline: none;
    border: 1px solid #D2D6DB;
    border-radius: 6px;
}
textarea {
    height: 100px !important;
}
.form-control:focus {
    color: #374151;
}
.formulaire h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.btn_send {
    text-align: right;
    padding: 12px 20px;
    background: rgb(56, 169, 197);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
}